/* Universal and user dashboard styles */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-color: white;
  margin: 0;
  font-family: 'Saira', sans-serif;
}

h2 {
  color: #3C1642;
  font-size: 24px;
}

h3 {
  color: #3C1642;
  font-size: 20px;
}

.header {
  height: 10vh;
  background-color: #3C1642;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 36px;
  font-weight: 700;
  color: #AFFC41;
  margin-left: 2.5vw;
}

.header-user-profile {
  display: flex;
  flex-direction: row;
  color: #B2FF9E;
  margin-right: 2.5vw;
}

#userName {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
}

.main-display {
  background-color: white;
}

.user-dashboard {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.trip-request-section {
  width: 95vw;
  background-color: #B0CDD3;
  box-shadow: 0px 0px 0 1px #086375;
  border-radius: 20px;
}

.agent-revenue-display {
  height: 14vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#totalRevenueYTD {
  margin-left: 12vw;
}

#currentBookedTravelers {
  margin-right: 12vw;
}

.trip-request-section-top {
  height: 6vh;
  text-align: left;
  font-size: 12px;
}

#tripRequestTitle {
  margin-left: 3vw;
  font-size: 24px;
}

.trip-request-section-bottom {
  height: 10vh;
}

.trip-request-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.modals {
  width: 50vw;
  margin: 34.5vh auto 0;
  transform: translateY(-20%);
  flex-direction: column;
  justify-content: space-around;
}

.trip-request-modal {
  height: fit-content;
  width: fit-content;
  transform: translateY(-30%);
}

/* #userDashErrorModal {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#tripDestImage {
  height: 35vh;
}

.login-modal {
  height: 40vh;
  display: flex;
  transform: translateY(-0%);
}

.add-flex {
  display: flex;
}

.modals::backdrop {
  background: #00000049;
}

.modal-content {
  height: fit-content;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.trip-request-options {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trip-request-buttons {
  width: 20vw;
  margin: 1vw;
}

input, select {
  height: 7vh;
  border-width: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 0 1px #086375;
  padding-left: 10px;
  font-family: 'Saira', sans-serif;
  font-size: 16px;
}

input::placeholder {
  color: #000000;
}

#destinationDropdown {
  width: 24vw;
  margin-left: 3vw;
}

#tripDepartureDate {
  width: 14vw;
  margin-left: 2.5vw;
}

#tripDuration {
  width: 14vw;
  margin-left: 2.5vw;
}

#tripNumTravelers {
  width: 14vw;
  margin-left: 2.5vw;
}

#quoteTripButton {
  margin-left: 3vw;
  width: 12.5vw;
}

.submit-buttons {
  height: 7vh;
  background-color:#3C1642;
  color: #AFFC41;
  font-family: 'Saira', sans-serif;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0px 0px 0 2px #AFFC41;
  border-radius: 10px;
  cursor: pointer;
}

.agent-buttons {
  width: 10vw;
  height: 5vh;
}

.trip-display {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.trip-sections {
  height: 65vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #B0CDD3;
  box-shadow: 0px 0px 0 1px #086375;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-wrap: normal;
}

.agent-view {
  width: 46vw;
}

.trips-to-review {
  height: 19vh;
  width: 45vw;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.trip-review-buttons {
  width: 15vw;
  height: 19vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 2vw;
}

.search-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.agent-search-section {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 4vh;
}

.traveler-trips-view {
  height: fit-content;
  text-align: center;
}

.trip-headings {
  height: 5vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trip-tile {
  height: fit-content;
  width: 24vw;
  background-color: white;
  box-shadow: 0px 0px 0 1px #086375;
  border-radius: 10px;
  margin-bottom: 2vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

.trip-tile-image {
  height: 17vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px grey;
}

.agent-tile {
  height: fit-content;
  width: 27vw;
  margin-left: 1.5vw;
}

#reviewRequestTitle {
  margin-bottom: 2vh;
  margin-top: 2vh;
  text-align: center;
}

.trip-tile-copy {
  font-size: 17px;
  padding-left: 7px;
  padding-top: 4px;
}

.past-trip-total {
  height: fit-content;
  width: 24vw;
  text-align: center;
  font-weight: 500;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 0 1px #086375;
  margin-bottom: 2vh;
  padding: 4px;
  font-size: 16px;
}

.agent-search-trip-tile {
  width: 30vw;
  height: fit-content;
}

#searchTravelersButton {
  width: 12vw;
}

#agentSearchGoBack {
  margin-top: 3vh;
}

/* Hover and focus states for a11y */

input:focus-visible, input:hover, 
select:focus-visible, select:hover {
  box-shadow: 0px 0px 0 4px #1DD3B0;
}

button:focus-visible, button:hover {
  box-shadow: 0px 0px 0 5px #1dd3ae83;
}

/* Log-in page styles */

.login-page {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 55vh;
  width: 60vw;
  background-color: #B0CDD3;
  border-radius: 20px;
  box-shadow: 0px 0px 0 1px #086375;
}

.login-user-name, .login-password {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginTitle {
  font-size: 28px;
}

.login-labels {
  color: #3C1642;
  font-size: 20px;
  font-weight: 700;
}

.login-inputs {
  width: 25vw;
}

#loginForgotCreds {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

#loginConfirmButton {
  width: 12vw;
}

/* Mobile display - under 800px wide */

@media only screen and (max-width: 800px) {

  .site-title, .header-user-profile {
    transform: scale(.8);
    margin-left: 0vw;
  }
  
  .login-form {
    width: 90vw;
  }

  .login-inputs {
    width: 60vw;
  }

  #loginConfirmButton {
    width: 29vw;
  }

  .user-dashboard {
    height: fit-content;
  }

  .trip-request-section {
    width: 90vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .trip-request-section-bottom {
    height: fit-content;
  }

  .trip-request-form {
    flex-direction: column;
  }

  #destinationDropdown {
    width: 70vw;
    margin-left: 0vw;
    margin-bottom: 2vh;
  }
  
  #tripDepartureDate {
    width: 70vw;
    margin-left: 0vw;
    margin-bottom: 2vh;
  }
  
  #tripDuration {
    width: 70vw;
    margin-left: 0vw;
    margin-bottom: 2vh;
  }
  
  #tripNumTravelers {
    width: 70vw;
    margin-left: 0vw;
    margin-bottom: 2vh;
  }
  
  #quoteTripButton {
    width: 45vw;
    margin-left: 0vw;
    margin-bottom: 2vh;
  }

  .modals {
    width: 90vw;
  }

  .trip-request-modal {
    height: 62vh;
    width: 90vw;
    align-items: center;
    overflow: hidden;
  }

  .modal-content {
    width: 90vw;
  }

  #dashErrorContent {
    width: 90vw;
  }

  #loginErrorContents {
    width: 90vw;
  }

  #tripDestImage {
    height: 25vh;
  }

  .trip-request-options {
    width: 90vw;
  }

  .submit-buttons {
    width: 40vw;
    font-size: 16px;
  }

  .trip-display {
    flex-direction: column;
    align-items: center;
  }

  .trip-sections {
    width: 90vw;
    height: fit-content;
    margin-bottom: 2vh;
  }

  .past-trip-total, .trip-tile {
    width: 85vw;
  }

}

/* Highest priority classes */

.hidden {
  display: none;
}