*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-color: white;
  margin: 0;
  font-family: 'Saira', sans-serif;
}

h2 {
  color: #3C1642;
  font-size: 24px;
}

.header {
  height: 10vh;
  background-color: #3C1642;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 36px;
  font-weight: 700;
  color: #AFFC41;
  margin-left: 2.5vw;
}

.header-user-profile {
  display: flex;
  flex-direction: row;
  color: #B2FF9E;
  margin-right: 2.5vw;
}

#userName {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
}

.main-display {
  height: 90vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.trip-request-section {
  width: 95vw;
  background-color: #B0CDD3;
  box-shadow: 0px 0px 0 1px #086375;
  border-radius: 20px;
}

.trip-request-section-top {
  height: 6vh;
  text-align: left;
  font-size: 12px;
}

#tripRequestTitle {
  margin-left: 3vw;
  font-size: 24px;
}

.trip-request-section-bottom {
  height: 10vh;
}

.trip-request-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#tripConfirmModal {
  height: 25vw;
  width: 50vw;
  margin: 50vh auto 0;
  transform: translateY(-50%);
}

.trip-confirm-contents {
  height: 25vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.trip-request-options {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trip-request-buttons {
  width: 20vw;
  margin: 2vw;
}

#tripConfirmModal::backdrop {
  background: #00000049;
}

input, select {
  height: 7vh;
  border-width: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 0 1px #086375;
  padding-left: 10px;
  font-family: 'Saira', sans-serif;
  font-size: 16px;
}

input::placeholder {
  color: #000000;
}

#destinationDropdown {
  width: 24vw;
  margin-left: 3vw;
}

#tripDepartureDate {
  width: 14vw;
  margin-left: 2.5vw;
}

#tripDuration {
  width: 14vw;
  margin-left: 2.5vw;
}

#tripNumTravelers {
  width: 14vw;
  margin-left: 2.5vw;
}

#quoteTripButton {
  margin-left: 3vw;
  width: 12.5vw;
}

.submit-buttons {
  height: 7vh;
  background-color:#3C1642;
  color: #AFFC41;
  font-family: 'Saira', sans-serif;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0px 0px 0 2px #AFFC41;
  border-radius: 10px;
}

.trip-display {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.trip-sections {
  height: 65vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #B0CDD3;
  box-shadow: 0px 0px 0 1px #086375;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-wrap: normal;
}

.trip-headings {
  height: 5vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trip-tile {
  height: 16vh;
  width: 24vw;
  background-color: white;
  box-shadow: 0px 0px 0 1px #086375;
  border-radius: 10px;
  margin-bottom: 2vh;
  overflow: scroll;
}

.trip-tile-copy {
  font-size: 17px;
  padding-left: 7px;
  padding-top: 4px;
}

.past-trip-total {
  height: fit-content;
  width: 24vw;
  text-align: center;
  font-weight: 500;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 0 1px #086375;
  margin-bottom: 2vh;
  padding: 4px;
  font-size: 16px;
}

/* Hover and focus states for a11y */

input:focus-visible, input:hover, 
select:focus-visible, select:hover {
  box-shadow: 0px 0px 0 3px #1DD3B0;
}

button:focus-visible, button:hover {
  box-shadow: 0px 0px 0 5px #1dd3ae83;
}

.hidden {
  display: none;
}