*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-color: white;
  margin: 0;
  font-family: 'Saira', sans-serif;
}

h2 {
  color: #3C1642;
  font-size: 16px;
}

.header {
  height: 11vh;
  background-color: #3C1642;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 30px;
  font-weight: 700;
  color: #AFFC41;
  margin-left: 4vw;
}

.header-user-profile {
  display: flex;
  flex-direction: row;
  color: #B2FF9E;
  margin-right: 4vw;
}

#userName {
  margin-right: 10px;
  font-weight: 600;
}

.main-display {
  height: 89vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.trip-request-section {
  width: 92vw;
  background-color: #B0CDD3;
  outline-style: solid;
  outline-width: 1px;
  outline-color:#086375;
  border-radius: 20px;
}

.trip-request-section-top {
  height: 4.5vh;
  text-align: center;
  font-size: 12px;
}

.trip-request-section-bottom {
  height: 10vh;
}

.trip-request-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#destinationDropdown {
  width: 20vw;
}

input, select {
  height: 7vh;
  border-radius: 10px;
}

.submit-buttons {
  height: 40px;
  width: 70px;
  background-color:#3C1642;
  color: #AFFC41;
  font-family: 'Saira', sans-serif;
  font-weight: 700;
  outline-style: solid;
  outline-width: 1px;
  outline-color:#AFFC41;
  border-radius: 10px;
}

.trip-display {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.trip-sections {
  height: 65vh;
  width: 28vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #B0CDD3;
  outline-style: solid;
  outline-width: 1px;
  outline-color:#086375;
  border-radius: 20px;
  overflow-y: scroll;
}

.trip-headings {
  height: 5vh;
}

.trip-tile {
  height: 16vh;
  width: 24vw;
  background-color: white;
  outline-color: #086375;
  outline-width: 1px;
  outline-style: solid;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.trip-tile-copy {
  font-size: 12px;
  padding-left: 7px;
  padding-top: 4px;
}

.past-trip-total {
  height: 6vh;
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  outline-color: #086375;
  outline-width: 1px;
  outline-style: solid;
  margin: 4px;
  padding: 4px;
  font-size: 14px;
}